/* Put custom global css code here */

.navbar-inverse .navbar-nav > .active > a {
  background-color: rgba(255,255,255,0.85) !important;
  font-weight: 500;
}

.card-image:hover {
    cursor: pointer; 
}

.well {
  border-radius: 30px !important;
  box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.45);
}

.profilephoto {
  border-radius: 30px;
  max-height: 150px;
  max-width: 175px;
  margin: auto;
  box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.15);
}

.card .card-image img {
  max-height: 250px !important;
  min-height: 100%;
  width: auto !important;
  height: auto !important;
  border-radius: 10px !important;
  box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.05);
  margin-top: 5px;
  margin-bottom: 8px;
}

.card {
  border-radius: 20px !important;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.90) !important;
  background-color: rgba(100,100,100,0.5) !important;
  margin-top: 40px !important;
}

.card .card-content {
  text-align: center !important;
}

.card .card-content .card-title {
  color: rgba(255,255,255,0.9) !important;
  font-family: Roboto !important;
}

.card-reveal {
  background-color: rgba(255,255,255,0.85) !important;
}

.right {
  float: right !important;
}


#smoothbutton:hover {
  background-color: #fff !important;
  transition: .5s;
}

#smoothbutton:focus {
  background-color: #fff !important;
  transition: .5s;
}

#smoothbutton {
  transition: .5s;
  background-color: rgba(200,200,200,0.6) !important;
}

#chromefix {
  /* fix an issue where negative z-indexs in chrome cause the page to freak out */
   -webkit-backface-visibility: hidden; -webkit-transform: translateZ(0); 
   position: absolute !important;
   z-index: 0;
   width: 100%;
   height: 100%
}

#events {
    background: #000 url('/assets/img/real_cf.png') repeat scroll 0% 0%;
    border-top: 4px solid #111;
    border-bottom: 4px solid #111;
    background-attachment: fixed !important;
}

#videos {
    background-image: url('/assets/img/bg-about.jpg');
    background-attachment: fixed !important;
}

#resources {
    background: #000 url('/assets/img/real_cf.png') repeat scroll 0% 0%;
    border-top: 4px solid #111;
    border-bottom: 4px solid #111;
    background-attachment: fixed !important;
}

#about {
    background-image: url('/assets/img/bg-about.jpg');
    width: 100vw;
}

#team {
    background: #000 url('/assets/img/real_cf.png') repeat scroll 0% 0%;
    border-top: 4px solid #111;
    border-bottom: 4px solid #111;
    background-attachment: fixed !important;
}

#swag {
    background-image: url('/assets/img/bg-about.jpg');
    background-attachment: fixed !important;
}

#contact {
    background: #000 url('/assets/img/real_cf.png') repeat scroll 0% 0%;
    border-top: 4px solid #111;
    border-bottom: 4px solid #111;
    background-attachment: fixed !important;
    padding: 50px 0 20px;
}
#contact a {
  color: rgba(255, 255, 255, 0.7);
}
#contact  a:hover {
  color: white;
}
#contact  p {
  font-size: 22px;
}
#contact  .contact-details {
  margin: 75px 0;
}
#contact  .social {
  margin-bottom: 75px;
}
#contact  .copyright p.small {
  font-size: 14px;
}
@media (min-width: 1025px) {
#contact  {
    background-attachment: fixed;
  }
}

#headername {
    z-index: 5 !important;
    position: absolute !important;
    top: 150px;
    margin-left: auto !important;
    left: 20%;
    color: rgba(250, 250, 250, 0.9) !important;
    text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3);
}

#headerborder {
    z-index: 5 !important;
    position: absolute !important;
    top: 250px;
    padding-left: 55% !important;
    left: 25%;
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.2);
    border-color: rgba(242,111,33, 0.9);
}

#headersubtext {
    z-index: 5 !important;
    position: absolute !important;
    top: 290px;
    margin-left: auto !important;
    left: 30%;
    color: rgba(250, 250, 250, 0.9) !important;
    text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3);
}

#navbar {
    display: inline;
    padding-left: 20px;
    padding-right: 35px;
}

body {
    position: relative;
    overflow-x: hidden;
}